<div class="container">
    <div style="text-align:center">
        <h1>
            Geolocation
        </h1>
    </div>

    <div class="alert alert-warning">
        Note: Once Track me is enabled, refresh page to enable Find me feature!
    </div>
    <div>
        <div>
            <button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Find me</button>
            <button class="btn btn-primary" (click)="trackMe()">Track me</button>
        </div>
        <div class="text-white">
            <span>Latitude: {{currentLat}}</span>
            <span>Longitude: {{currentLong}}</span>
        </div>
    </div>
    <div>
        <div #gmap id="gmap" style="width:100%;height:300px"></div>
    </div>
</div>