<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="registerForm.controls['lastName'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Repeat password" formControlName="rePassword">
            <mat-error *ngIf="registerForm.controls['rePassword'].hasError('required')">
              Repeat password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </mat-card-actions>
  </mat-card>
</form>