<div *ngIf="!(authService.userData | async)">
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="admin-card">
      <mat-card-header>
        <mat-card-title>Admin page</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="loginForm.controls['email'].hasError('required') ">
                Email name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Password" formControlName="password">
              <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button (click)="signIn()" mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

<div *ngIf="authService && authService.userData | async">
  <h1>Hello {{ (authService.userData | async)?.email }}</h1>
  <button (click)="signOut()" class="btn btn-primary">Logout</button>
</div>