<div *ngIf="!isLogged">
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="admin-card">
      <mat-card-header>
        <mat-card-title>Admin page</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email">
              <mat-error
                *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
                Email name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Password" formControlName="password">
              <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button (click)="signIn()" mat-raised-button color="primary" type="submit">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

<div *ngIf="isLogged">
  <mat-card class="signed-in">
    <mat-card-header>
      <mat-card-title>Hello {{ (authService.userData | async)?.email }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="row">
        <div class="col">
          <button routerLink="" mat-raised-button color="primary">See sold Books</button>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="signOut()" mat-raised-button color="warn">Logout</button>
    </mat-card-actions>
  </mat-card>
</div>