.full-width {
  width: 70%;
}

.admin-card {
  text-align: center;
  max-width: 40%;
  margin: 20px auto;
}


.row {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
