<mat-card class="details-card">
  <mat-card-header>
    <img mat-card-image [src]="(sbook|async)?.imageLink" alt="">
  </mat-card-header>
  <mat-card-content class="details-card-content">

    <h2>
      {{(sbook|async)?.title}}
    </h2>
    <div>
      <strong>Price: {{(sbook|async)?.price}}</strong>
    </div>
    <div>
      Language: {{(sbook|async)?.language}}
    </div>
    <div>
      {{(sbook|async)?.description}}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!isLogged" mat-button>BUY</button>
    <button *ngIf="isLogged" mat-button>EDIT</button>
    <button *ngIf="isLogged" (click)="deleteBook(this.id)" mat-button>DELETE</button>
  </mat-card-actions>
</mat-card>