/* You can add global styles to this file, and also import other style files */

html, body {  
    margin: 0;     
    height: 100%; 
    scroll-behavior: smooth;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f5dfe6; }

form.form-inline div.form-group {
    margin-right: 2%;
  }

  div.row form.form-inline {
    text-align: center;
  }